[Desktop Entry]
Version=1.0
Type=Application

Name=Dinosaur Planet: Recompiled
Comment=A static recompilation/native port of Dinosaur Planet.
Categories=Game;

Icon=io.github.dinosaurplanetrecomp.dino_recomp
Exec=DinosaurPlanetRecompiled
Terminal=false
